.placeholder {
	background: url('../../../images/pexels-philipp-birmes-830891.jpg') center
		center;
	background-size: cover;
	width: 100%;
	height: 100vh;

	&_text {
		color: $content-silver;
		width: 90%;
		margin: 0 auto;
		text-shadow: 2px 2px $silver-shadow;
		padding: 4% 0;
		text-align: center;
		h1 {
			font-size: 50px;
			margin-bottom: 10px;
		}
		p {
			font-size: 30px;
		}
	}
}
